/* (1) Description*/
/* .card {
    position: relative;
    height: 200px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
} */
/* 
#description > h1 {
    font-size: 1.5rem;
}
#description > div {
}

#description > div > h2 {
    font-size: 1.2rem;
}

#description > #desc-page1 {
    position: absolute;
    left: 100px;
    transition: 0.3s;
}

#description > #desc-page2 {
    position: absolute;
    left: 100px;
}

#page1:checked ~ #desc-page1 {
    left: 10px;
} */
